body{
    margin: 0;
    padding: 0;
    font-size: 16pt; /* test for this! Make all sizes em or rem */
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
  }
  
  header{
    background: #fff;
    border-bottom: 3px solid #50C7C7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_links{
    display: flex;
    flex-direction: column;
  }
  
  h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
  }
  
  h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }
  
  p {
    padding: 0 30px;
  }
  
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }
  .skip a:focus{
    top: 0px;
    color: black;
    text-decoration-style: solid;
  }
  *:focus{
    border: 2px solid black
  }

  .nav_item a{
    padding: 10px;
  }
  
  .nav_item a:hover, a:focus, a:visited{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }

  .pricing{
    min-height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .card {
    margin: 12px;
    background: #fff;
    border-radius: 7px;
    padding: 0 0 25px 0;
    display: flex;
    min-width: 450px;
    flex-direction: column;
  }

  .card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    
  }

  .card > ul{
    list-style: none;
    padding-left: 5px;
  }
  
  .card > ul li {
    width: 90%;
    margin: 20px auto;
    
  }

.card button{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left: 5%;
    border-radius: 7px;
    background: #288080;
    color: white;
    font-size: 1em;
  }
  
  .card h3{
    font-size: 4em;
    color: white;
    text-align: center;
  }
  
  .card_big{
    -webkit-transform: initial;
            transform: initial;
  }

  .gallery{
    min-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery > img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }
  
  footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  }

  #logo{
    animation-name: slide;
    animation-duration: 5s;
  }
  @keyframes slide {
    /* You could think of as "step 1" */
    0% {
      width: 50px;
      opacity: 0;
    }
    /* You could think of as "step 2" */
    100% {
      width: 425px;
      opacity: 1;
    }
  }
  @media screen and (min-width: 850px){
    .card_big{
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
        z-index: -99;
  }
  header{
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100%;
  }
  .nav_links{
    flex-direction: row;
    justify-content: space-between;
  }
  .card > header{
    flex-direction: row;
    position: initial;
  }
  .card{
    min-width: 0px;
    flex-basis: 250px;
  }
  .pricing{
    flex-direction: row;
    justify-content: center;
  }

}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}
  